// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$theme_fg_color: "@theme_fg_color";
$theme_bg_color: "@theme_bg_color";
$theme_selected_bg_color: "@theme_selected_bg_color";

window.Bar {
    background: transparent;
    font-weight: bold;

    >centerbox {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
        padding-right: 3px;
        background: transparent;
    }

    .left {
        .workspaces {
            > button {
                background-color: rgba(0, 0, 0, 0.4);
                margin-left: 2.5px;
                margin-right: 2.5px;

                &.focused {
                    background-color: rgba(0, 0, 0, 0.6);
                    border-top: 2px solid #{$theme_selected_bg_color};
                }

                > box {
                    > icon {
                        margin-left: 5px;
                        margin-right: 5px;
                        font-size: 1.2em;
                    }
                }
            }
        }
    }

    .center {
        .title {
            background-color: rgba(0, 0, 0, 0.4);
            padding-left: 8px;
            padding-right: 8px;
            border-radius: 12px;

            icon {
                font-size: 1.5em;
                margin-right: 7px;
            }

            label {
                font-size: 10pt;
            }
        }
    }

    .right {
        > * {
            margin-left: 2.5px;
            margin-right: 2.5px;

            > button {
                background-color: rgba(0, 0, 0, 0.4);

                icon {
                    font-size: 1.1em;
                }

                > label {
                    font-weight: bold;
                }

                > box {
                    > * {
                        margin-left: 2.5px;
                        margin-right: 2.5px;
                    }
                }
            }

            > .slider {
                background-color: rgba(0, 0, 0, 0.4);
                padding-left: 5px;
                padding-right: 14px;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                transition: 250ms;

                &.show {
                    min-width: 100px;
                }

                &.hide {
                    min-width: 0px;
                }
            }

        }

        .tray {
            button {
                border-radius: 0px;
                background-color: rgba(0, 0, 0, 0.4);

                &:first-child {
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                }

                &:last-child {
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                }

                icon {
                    font-size: 1.1em;
                }
            }
        }
    }
}