name: vulnerable

on:
  schedule:
    - cron: "0 9 * * 0" # every Sunday at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  node:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@e33bbfeb90b9958c0ec55db282c93c0c5605f914 # v1.25.2
        with:
          shell: vulnerable

      - name: Run npm audit
        run: npm audit --audit-level moderate

  nix:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@e33bbfeb90b9958c0ec55db282c93c0c5605f914 # v1.25.2
        with:
          shell: vulnerable

      - name: Run flake-checker
        run: flake-checker -f

  actions:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@e33bbfeb90b9958c0ec55db282c93c0c5605f914 # v1.25.2
        with:
          shell: vulnerable

      - name: Run octoscan
        run: octoscan scan .github
